

/*
----------------------------------------------------------------------------------------------------------------------------------
``Forms' Styles */


// placeholders' styles
::-webkit-input-placeholder {
   color: $primary;
   opacity: 0.5;
}

:-moz-placeholder { /* Firefox 18- */
   color: $primary;  
   opacity: 0.5;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $primary;  
   opacity: 0.5;
}

:-ms-input-placeholder {  
   color: $primary;  
   opacity: 0.5;
}

/* `general-styles*/

//targets all input elements except for the submit button

input:not([type='submit']), textarea {  
	@include rf(height, 40px);
	@include rf(padding, 5px);
	@include transit;					//adds the primary transition
	border: 1px solid $sub-color;
	outline: none;
background: transparent;
	&:hover {

	}
	&:active {

	}
	&:focus {
		outline: none;
		border-color: $primary;
	}
}

.submit-btn {
	background: $primary;
	width: 100%;
	@include transit;
	@include respond {
		@include rf(width,200px);
	}
	&:hover, &:focus, &:active {
		background: $secondary;
	}
}